.ad {
  width: toRem(28);
  height: toRem(18);
  border-radius: toRem(6);
  padding: toRem(3) toRem(6);
  background-color: #8f87837a;
  text-transform: uppercase;
  font-weight: 600;
  font-size: toRem(11);
  line-height: toRem(12.1);
  color: #ffffff;
}