.header__mobile {
  display: block;
  @include respond-to(md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
}

.header__login-mobile {
  @include respond-to(md) {
    display: flex;
    flex-direction: column;
  }
}

.header__mobile-logo {
  width: 110px;
  height: auto;

  @include respond-to(sm) {
    width: 90px;
    height: auto;
  }
}