@import "../utils/function";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-weight: 400;
  font-size: toRem(16);
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

input,
select,
textarea {
  outline: none;
  font: inherit;
}

span {
  display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

h1,
h2,
h3 {
  font-weight: 600;
}

.container {
  max-width: toRem(1440);
  margin: 0 auto;
  padding: 0 toRem(135);

  @include respond-to(lg) {
    padding: 0 toRem(40);
  }
  @include respond-to(xm) {
    padding: 0 toRem(30);
  }
  @include respond-to(sm) {
    padding: 0 toRem(20);
  }
  @include respond-to(xs) {
    padding: 0 toRem(10);
  }
}

body {
  display: flex;
  flex-direction: column;
}
